[package]
name = "libsql-js"
version = "0.0.1"
description = ""
authors = ["Pekka Enberg <penberg@iki.fi>"]
license = "MIT"
edition = "2021"
exclude = ["index.node"]

[lib]
crate-type = ["cdylib"]

[dependencies]
tracing-subscriber = "0.3"
libsql = { git = "https://github.com/libsql/libsql/", rev = "523be13c79e465f452354c3400334269580aad8f" }
log = "0.4.20"
once_cell = "1.18.0"
tokio = { version = "1.29.1", features = [ "rt-multi-thread" ] }

[dependencies.neon]
version = "1.0.0-alpha.4"
default-features = false
features = ["napi-6"]

[patch.crates-io]
sqlite3-parser = { git = "https://github.com/LucioFranco/lemon-rs" }

[profile.release]
lto = true
codegen-units = 1
debug = false
strip = true
opt-level = "z"
panic = "abort"
