[package]
name = "libsql-js"
version = "0.3.15"
description = ""
authors = ["Pekka Enberg <penberg@iki.fi>"]
license = "MIT"
edition = "2021"
exclude = ["index.node"]

[lib]
crate-type = ["cdylib"]

[dependencies]
tracing-subscriber = { version = "0.3", features = ["env-filter"] }
libsql = { git = "https://github.com/tursodatabase/libsql/", rev = "998d33042828285ef8c3dedee40fb83a01e7d021", features = ["encryption"] }
tracing = "0.1"
once_cell = "1.18.0"
tokio = { version = "1.29.1", features = [ "rt-multi-thread" ] }
neon = "1.0.0"

[profile.release]
lto = true
codegen-units = 1
debug = false
strip = true
panic = "abort"

