name: CI

env:
  NODE_VERSION: 18.x
  NPM_REGISTRY: 'https://registry.npmjs.org'
  RUST_VERSION: 1.78

on:
  push:
    # Prevent duplicate runs of this workflow on our own internal PRs.
    branches:
      - main
  pull_request:
    types: [opened, synchronize, reopened, labeled]
    branches:
      - main

jobs:
  test:
    name: Integration tests
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - name: Use Node.js
        uses: actions/setup-node@v4
        with:
          node-version: ${{ env.NODE_VERSION }}
          rust-version: ${{ env.RUST_VERSION }}
      - run: npm ci
      - run: npm run build
      - run: cd integration-tests && npm ci && npm run test

  pack:
    name: Pack (main)
    runs-on: ubuntu-latest
    permissions:
      contents: write
    steps:
      - name: Pack
        uses: neon-actions/pack@v0.1
        with:
          node-version: ${{ env.NODE_VERSION }}
          rust-version: ${{ env.RUST_VERSION }}
          github-release: false

  other-builds:
    name: Builds (other platforms)
    strategy:
      fail-fast: false
      matrix:
        target: [x86_64-unknown-linux-musl]
    runs-on: ubuntu-latest
    permissions:
      contents: write
    steps:
      - name: Setup cmake
        uses: jwlawson/actions-setup-cmake@v1.14
        with:
          cmake-version: '3.18.x'
      - name: Build
        uses: neon-actions/build@v0.1
        with:
          target: ${{ matrix.target }}
          node-version: ${{ env.NODE_VERSION }}
          rust-version: ${{ env.RUST_VERSION }}
          use-cross: true
          npm-publish: false
          github-release: false
