name: publish

env:
  NODE_VERSION: 18.x
  NPM_REGISTRY: 'https://registry.npmjs.org'
  RUST_VERSION: 1.78

on:
  push:
    tags:
      - v*

jobs:
  pack:
    name: Pack (main)
    runs-on: ubuntu-latest
    permissions:
      contents: write
    steps:
      - name: Pack
        uses: neon-actions/pack@v0.1
        with:
          node-version: ${{ env.NODE_VERSION }}
          rust-version: ${{ env.RUST_VERSION }}
          github-release: true

  other-builds:
    name: Builds (other platforms)
    strategy:
      matrix:
        target: [x86_64-unknown-linux-musl]
    runs-on: ubuntu-latest
    permissions:
      contents: write
    steps:
      - name: Setup cmake
        uses: jwlawson/actions-setup-cmake@v1.14
        with:
          cmake-version: '3.18.x'
      - name: Build
        uses: neon-actions/build@v0.1
        with:
          target: ${{ matrix.target }}
          node-version: ${{ env.NODE_VERSION }}
          rust-version: ${{ env.RUST_VERSION }}
          use-cross: true
          npm-publish: false
          github-release: true

  publish:
    name: Publish
    needs: [pack, other-builds]
    runs-on: ubuntu-latest
    permissions:
      contents: write
    steps:
      - name: Publish
        uses: neon-actions/publish@v0.1
        env:
          NODE_AUTH_TOKEN: ${{ secrets.NPM_TOKEN }}
        with:
          node-version: ${{ env.NODE_VERSION }}
          rust-version: ${{ env.RUST_VERSION }}
          registry-url: ${{ env.NPM_REGISTRY }}
          github-release: "*.tgz"
