name: Windows ARM64 Build
env:
  DEBUG: napi:*
  APP_NAME: libsql
permissions:
  contents: read
'on':
  workflow_dispatch: null
jobs:
  build:
    name: build - aarch64-pc-windows-msvc - node@20
    runs-on: windows-latest
    steps:
      - uses: actions/checkout@v4
      - name: Setup node
        uses: actions/setup-node@v4
        with:
          node-version: 20
          cache: yarn
      - name: Install Rust
        uses: dtolnay/rust-toolchain@stable
        with:
          toolchain: stable
          targets: aarch64-pc-windows-msvc
      - name: Cache cargo
        uses: actions/cache@v4
        with:
          path: |
            ~/.cargo/registry/index/
            ~/.cargo/registry/cache/
            ~/.cargo/git/db/
            .cargo-cache
            target/
          key: aarch64-pc-windows-msvc-cargo-windows-latest
      - name: Setup MSVC for ARM64
        uses: ilammy/msvc-dev-cmd@v1
        with:
          arch: x64_arm64
      - name: Install dependencies
        run: yarn install
      - name: Build
        run: yarn build --target aarch64-pc-windows-msvc
        shell: bash
      - name: Upload artifact
        uses: actions/upload-artifact@v4
        with:
          name: bindings-aarch64-pc-windows-msvc
          path: ${{ env.APP_NAME }}.*.node
          if-no-files-found: error
